__pycache__/
migrations/
!migrations/__init__.py

*/static/gallery/img/*

ssl-super/


/Super/app/tmp/sockets/*
!/Super/app/tmp/sockets/.gitkeep

/Super/log/*
!/Super/log/.gitkeep

/Super/mysql/data/*
/Super/mysql/sockets/*
!/Super/mysql/data/.gitkeep
!/Super/mysql/sockets/.gitkeep

/Super/static/*
!/Super/static/.gitkeep
