<!-- game.jsでimage-viewsを呼び出すためのゲームを作る -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    {% load static %}
    <script src = "{% static 'gallery/enchant.js' %}"></script>
	<script src="{% static 'gallery/nineleap.enchant.js' %}"></script>
    <script src = "{% static 'gallery/index.js' %}"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body > div{
            left: 50%;
            translate: -50%;
        }
        a {
            display: block;
            width: fit-content;
            margin: 10px;
            padding: 10px;
            background-color: #fcbc80;
            text-align: center;
            color: #000000;
            text-decoration: none;
            border: solid 1px #000000;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <a href="/account/sign_out">サインアウト</a>
    <a href="/account/mypage">ユーザー情報<br>変更</a>
</body>
</html>
