<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="UTF-8">
        <title>東樟祭</title>
        <link href="style.css" rel = "stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script> 
        <script type="text/javascript">                             // jpueryを使った画像切り替えプログラム
            $(function(){
                var setImg = '#photo';
                var fadeSpeed = 1600;
                var switchDelay = 5000;

                $(setImg).children('img').css({opacity:'0'});
                $(setImg + ' img:first').stop().animate({opacity:'1',zIndex:'20'},fadeSpeed);

                setInterval(function(){
                    $(setImg + ' :first-child').animate({opacity:'0'},fadeSpeed).next('img').animate({opacity:'1'},fadeSpeed).end().appendTo(setImg);
                },switchDelay);
            });
        </script>
    </head>
    <body>
        <div id = "container">                                      <!-- 文字をいれるなら<p>とか追加する -->
            <header>
                <h1>東樟祭</h1>
            </header>
            <div id="photo">
                <img src="/static/gallery/img/festival2ya/_IMG3715.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/festival1/IMGP0671.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/festival2/M1360036.JPG" width="750" height="500" alt="">  <!-- ここに画像を追加していく(一番上の大きめ画像) -->
                <img src="/static/gallery/img/festival2/IMGP0891.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/PE/1708135822174.jpg" width="750" height="500" alt="">
            </div>
            <p><em>※動画の音量注意！</em></p>
            <h2>２年生文化祭</h2>
            <div class = "photoList">
                <img src = "/static/gallery/img/festival2ya/_IMG3715.JPG" width="460" height="300">                                          <!-- 普通の画像をいい感じに配置していく -->
                <img src = "/static/gallery/img/festival2ya/_IMG3718.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG3742.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG3743.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG3749.JPG" width="460" height="300">
                <video src = "/static/gallery/img/festival2ya/吹奏楽部_1.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/festival2ya/_IMG3782.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG3784.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG3826.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG3884.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG3913.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG3972.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG4006.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG4018.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG4039.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG4049.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG4092.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG4093.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG4096.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/_IMG4100.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/IMGP2293.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2ya/IMGP2295.JPG" width="460" height="300">
            </div>
            <h2>３年生文化祭</h2>
            <div class = "photoList">
                <img src = "/static/gallery/img/festival1/IMGP0671.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival1/IMGP0672.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival1/IMGP0673.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival1/IMGP0676.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival1/IMGP0678.JPG" width="460" height="300">
                <video src = "/static/gallery/img/festival1/video1/S1490003_1.mp4" width="460" height="300" controls autoplay></video>
                <video src = "/static/gallery/img/festival1/video1/S1490005_1.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/festival2/_IMG2950.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2951.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2952.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2956.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2957.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2963.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2967.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2969.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2970.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2975.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2978.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2980.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2981.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/_IMG2983.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/IMGP1127.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/IMGP1153.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/IMGP1182.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/M1360036.JPG" width="460" height="300">
                <img src = "/static/gallery/img/festival2/M1360051.JPG" width="460" height="300">
                <div id = "main"><img src = "/static/gallery/img/festival2/IMGP0891.JPG" width="600" height="400"></div>
            </div>
            <h2>３年生体育祭</h2>
            <div class = "photoList">
                <img src = "/static/gallery/img/PE/1708135828609.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135657423.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135709279.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135703222.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135842210.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135761109.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135768346.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135773078.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/_IMG3311.JPG" width="460" height="300">
                <video src = "/static/gallery/img/PE/video/tama.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/PE/1708135865498.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135867577.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136053434.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136059652.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135989311.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135992558.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136033090.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136036120.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136045389.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136006153.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136004996.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136009292.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135997973.jpg" width="460" height="300">
                <video src = "/static/gallery/img/PE/video/kaiten.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/PE/1708135870419.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136088091.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136130076.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136117085.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136133414.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/_IMG3041.JPG" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136161068.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136203092.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135720004.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135723197.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135728546.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/_IMG3377.JPG" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135753765.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135755795.jpg" width="460" height="300"> 
                <video src = "/static/gallery/img/PE/video/buka.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/PE/1708135740964.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135850874.jpg" width="460" height="300">
                <video src = "/static/gallery/img/PE/video/buka2.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/PE/1708135674971.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135684781.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136182235.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135671950.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135713519.jpg" width="460" height="300"> 
                <img src = "/static/gallery/img/PE/1708135901956.jpg" width="460" height="300">
                <video src = "/static/gallery/img/PE/video/oonama.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/PE/1708136306091.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136307114.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136308241.jpg" width="460" height="300">
                <video src = "/static/gallery/img/PE/video/oona.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/PE/_IMG3072.JPG" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136299402.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136273067.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136269471.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135928343.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135667451.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708136220967.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/_IMG3736.JPG" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135660438.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135960899.jpg" width="460" height="300">
                <video src = "/static/gallery/img/PE/video/free.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/PE/1708135797494.jpg" width="460" height="300">
                <img src = "/static/gallery/img/PE/1708135806490.jpg" width="460" height="300">
                <div id ="main"><img src = "/static/gallery/img/PE/1708135822174.jpg" width="600" height="400"></div>
            </div>
            <div class="button018">
                <a href="../index.html"><span>戻る</span></a>       <!-- 戻るボタン -->
            </div>
            <footer><P><small>＠カンパニー株式会社</small></P></footer>
        </div>
    </body>
</html>
<!-- 写真表示用のページ -->
<!-- 他のカテゴリについても作る -->