<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="UTF-8">
        <title>合唱コンクール</title>
        <link href="/static/gallery/style.css" rel = "stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script> 
        <script type="text/javascript">                             // jpueryを使った画像切り替えプログラム
            $(function(){
                var setImg = '#photo';
                var fadeSpeed = 1600;
                var switchDelay = 5000;

                $(setImg).children('img').css({opacity:'0'});
                $(setImg + ' img:first').stop().animate({opacity:'1',zIndex:'20'},fadeSpeed);

                setInterval(function(){
                    $(setImg + ' :first-child').animate({opacity:'0'},fadeSpeed).next('img').animate({opacity:'1'},fadeSpeed).end().appendTo(setImg);
                },switchDelay);
            });
            function perloadImages(){
		        imageCache = new Image();
		        imageCache.src = "/static/gallery/img/win/IMGP4921.JPG"
                imageCache.src = "/static/gallery/img/win/IMGP4919.JPG"
                imageCache.src = "/static/gallery/img/win/IMGP4917.JPG"
                imageCache.src = "/static/gallery/img/win/IMGP4911.JPG"
                imageCache.src = "/static/gallery/img/win/IMGP4909.JPG"
                imageCache.src = "/static/gallery/img/win/IMGP4905.JPG"
                imageCache.src = "/static/gallery/img/win/IMGP4892.JPG"
                imageCache.src = "/static/gallery/img/win/IMGP4889.JPG"
                imageCache.src = "/static/gallery/img/win/IMGP4882.JPG"
                imageCache.src = "/static/gallery/img/win/IMGP4880.JPG"
                imageCache.src = "/static/gallery/img/actual_performance/_IMG2663.JPG"
                imageCache.src = "/static/gallery/img/actual_performance/_IMG2653.JPG"
                imageCache.src = "/static/gallery/img/actual_performance/_IMG2660.JPG"
                imageCache.src = "/static/gallery/img/actual_performance/_IMG2651.JPG"
                imageCache.src = "/static/gallery/img/actual_performance/_IMG2646.JPG"
                imageCache.src = "/static/gallery/img/actual_performance/_IMG2642.JPG"
                imageCache.src = "/static/gallery/img/actual_performance/_IMG2444.JPG"
                imageCache.src = "/static/gallery/img/actual_performance/_IMG2442.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2409.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2405.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2404.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2401.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2394.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2391.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2389.JPG" 
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2388.JPG"
                imageCache.src = "/static/gallery/img/chorus2/_IMG3299.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2384.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2383.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2382.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2379.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2375.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2373.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2372.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2370.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2369.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/_IMG2368.JPG"
                imageCache.src = "/static/gallery/img/chorus_ practice/1708136452934.jpg"
                imageCache.src = "/static/gallery/img/chorus_ practice/1708136452201.jpg"
                imageCache.src = "/static/gallery/img/chorus_ practice/chorus_video/IMGP2399.mp4"
                imageCache.src = "/static/gallery/img/chorus2/2-4.mp4"
                imageCache.src = "/static/gallery/img/chorus2/2-5宿命(FullHD).mp4"
                imageCache.src = "/static/gallery/img/chorus2/2-6.mp4"
                imageCache.src = "/static/gallery/img/chorus_ practice/chorus_video/IMGP2408.mp4"
                imageCache.src = "/static/gallery/img/chorus_ practice/chorus_video/IMGP2393.mp4"
                imageCache.src = "/static/gallery/img/actual_performance/S1470020_1.mp4"
                imageCache.src = "/static/gallery/img/actual_performance/hyou.mp4"
	        }
            onload=perloadImages;
        </script>
    </head>
    <body>
        <div id = "container">                                      <!-- 文字をいれるなら<p>とか追加する -->
            <header>
                <h1>合唱コンクール</h1>
            </header>
            <div id="photo">
                <img src="/static/gallery/img/chorus2/_IMG3261.JPG" width="750" height="500" alt="４組合唱コン">
                <img src="/static/gallery/img/chorus2/_IMG3276.JPG" width="750" height="500" alt="５組合唱コン">
                <img src="/static/gallery/img/chorus2/_IMG3281.JPG" width="750" height="500" alt="６組合唱コン">
                <img src = "/static/gallery/img/chorus_ practice/_IMG2401.JPG" width="750" height="500" alt="">
                <img src = "/static/gallery/img/chorus_ practice/_IMG2383.JPG" width="750" height="500" alt="">
                <img src = "/static/gallery/img/chorus_ practice/_IMG2409.JPG" width="750" height="500" alt="">
                <img src = "/static/gallery/img/actual_performance/_IMG2653.JPG" width="750" height="500" alt="">
                <img src = "/static/gallery/img/win/IMGP4905.JPG" width="750" height="500" alt="">
                <img src = "/static/gallery/img/win/_IMG2710.JPG" width="750" height="500" alt="">      <!-- ここに画像を追加していく(一番上の大きめ画像) -->
            </div>
            <p><em>※動画の音量注意！</em></p>
            <h2>２年生</h2>
            <div class = "photoList">
                <img src="/static/gallery/img/chorus2/_IMG3259.JPG" width="460" height="300" alt="４組合唱コン">
                <img src="/static/gallery/img/chorus2/_IMG3260.JPG" width="460" height="300" alt="４組合唱コン１">
                <img src="/static/gallery/img/chorus2/_IMG3261.JPG" width="460" height="300" alt="４組合唱コン２">
                <img src="/static/gallery/img/chorus2/_IMG3262.JPG" width="460" height="300" alt="４組合唱コン３">
                <video src = "/static/gallery/img/chorus2/2-4.mp4" width="460" height="300" controls autoplay></video>
                <img src="/static/gallery/img/chorus2/_IMG3282.JPG" width="460" height="300" alt="５組合唱コン">
                <img src="/static/gallery/img/chorus2/_IMG3298.JPG" width="460" height="300" alt="５組合唱コン１">
                <img src="/static/gallery/img/chorus2/_IMG3293.JPG" width="460" height="300" alt="５組合唱コン２">
                <img src="/static/gallery/img/chorus2/_IMG3296.JPG" width="460" height="300" alt="５組合唱コン３">
                <img src="/static/gallery/img/chorus2/_IMG3299.JPG" width="460" height="300" alt="５組合唱コン３">
                <video src = "/static/gallery/img/chorus2/2-5宿命(FullHD).mp4" width="460" height="300" controls autoplay></video>
                <img src="/static/gallery/img/chorus2/_IMG3278.JPG" width="460" height="300" alt="６組合唱コン">
                <img src="/static/gallery/img/chorus2/_IMG3276.JPG" width="460" height="300" alt="６組合唱コン１">
                <img src="/static/gallery/img/chorus2/_IMG3280.JPG" width="460" height="300" alt="６組合唱コン２">
                <img src="/static/gallery/img/chorus2/_IMG3281.JPG" width="460" height="300" alt="６組合唱コン３">
                <video src = "/static/gallery/img/chorus2/2-6.mp4" width="460" height="300" controls autoplay></video>  <!-- 普通の画像をいい感じに配置していく -->
            </div>
                <h2>３年生</h2>
                <div class = "photoList">
                    <img src = "/static/gallery/img/chorus_ practice/1708136452201.jpg" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/1708136452934.jpg" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2368.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2369.JPG" width="460" height="300" alt="">
                    <video src = "/static/gallery/img/chorus_ practice/chorus_video/IMGP2399.mp4" width="460" height="300" controls autoplay></video>
                    <img src = "/static/gallery/img/chorus_ practice/1708136453638.jpg" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2370.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2372.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2373.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2375.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2379.JPG" width="460" height="300" alt="">
                    <video src = "/static/gallery/img/chorus_ practice/chorus_video/IMGP2408.mp4" width="460" height="300" controls autoplay></video>
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2382.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2383.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2384.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2388.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2389.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2391.JPG" width="460" height="300" alt="">
                    <video src = "/static/gallery/img/chorus_ practice/chorus_video/IMGP2393.mp4" width="460" height="300" controls autoplay></video>
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2394.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2401.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2404.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2405.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/chorus_ practice/_IMG2409.JPG" width="460" height="300" alt="">     <!-- 練習風景 -->
                    <div id = "main"><img src = "/static/gallery/img/actual_performance/gasyo.JPG" width="600" height="400" alt=""></div>
                    <img src = "/static/gallery/img/actual_performance/_IMG2442.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/actual_performance/_IMG2444.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/actual_performance/_IMG2642.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/actual_performance/_IMG2646.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/actual_performance/_IMG2651.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/actual_performance/_IMG2660.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/actual_performance/_IMG2653.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/actual_performance/_IMG2663.JPG" width="460" height="300" alt="">
                    <video src = "/static/gallery/img/chorus_ practice/chorus_video/本番.mp4" width="460" height="300" controls autoplay></video>
                    <video src = "/static/gallery/img/actual_performance/hyou.mp4" width="460" height="300" controls autoplay></video>
                    <img src = "/static/gallery/img/win/IMGP4880.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/win/IMGP4882.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/win/IMGP4889.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/win/IMGP4892.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/win/IMGP4905.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/win/IMGP4909.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/win/IMGP4911.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/win/IMGP4917.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/win/IMGP4919.JPG" width="460" height="300" alt="">
                    <img src = "/static/gallery/img/win/IMGP4921.JPG" width="460" height="300" alt="">
                    <div id = "main">
                        <img src = "/static/gallery/img/win/_IMG2710.JPG" width="600" height="400" alt="">
                        <video src = "/static/gallery/img/actual_performance/S1470020_1.mp4" width="600" height="400" controls autoplay></video>
                    </div>
                </div>
                <div class="button018">
                    <a href="https://tks-r2021:8080/"><span>戻る</span></a>    <!-- 戻るボタン -->
                </div>
                <footer><p><small>＠カンパニー株式会社</small></p></footer>
        </div>
    </body>
</html>
<!-- 写真表示用のページ -->
<!-- 他のカテゴリについても作る -->