<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="UTF-8">
        <title>修学旅行</title>
        <link href="/static/gallery/style.css" rel = "stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script> 
        <script type="text/javascript">                             // jpueryを使った画像切り替えプログラム
            $(function(){
                var setImg = '#photo';
                var fadeSpeed = 1600;
                var switchDelay = 5000;

                $(setImg).children('img').css({opacity:'0'});
                $(setImg + ' img:first').stop().animate({opacity:'1',zIndex:'20'},fadeSpeed);

                setInterval(function(){
                    $(setImg + ' :first-child').animate({opacity:'0'},fadeSpeed).next('img').animate({opacity:'1'},fadeSpeed).end().appendTo(setImg);
                },switchDelay);
            });
            function perloadImages(){
		        imageCache = new Image();
                imageCache.src = "/static/gallery/img/trip1/_IMG5867.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG5882.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG5897.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG5900.JPG"
                imageCache.src = "/static/gallery/img/trip1/building/_IMG5893.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG5935.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG5942.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG5943.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG5944.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG5977.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG5979.JPG"
                imageCache.src = "/static/gallery/img/trip1/building/_IMG5999.JPG"
                imageCache.src = "/static/gallery/img/trip1/building/_IMG6012.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6029.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6062.JPG"
                imageCache.src = "/static/gallery/img/trip1/building/_IMG6040.JPG"
                imageCache.src = "/static/gallery/img/trip1/video/MVI_5888.MP4"
                imageCache.src = "/static/gallery/img/trip1/_IMG6064.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6051.JPG"
                imageCache.src = "/static/gallery/img/trip1/video/gennbaku.mp4"
                imageCache.src = "/static/gallery/img/trip1/building/_IMG6056.JPG"
                imageCache.src = "/static/gallery/img/trip1/video/MVI_5908.MP4"
                imageCache.src = "/static/gallery/img/trip1/video/MVI_5912.MP4"
                imageCache.src = "/static/gallery/img/trip1/_IMG6075.JPG"
                imageCache.src = "/static/gallery/img/trip1/video/MVI_5923.MP4"
                imageCache.src = "/static/gallery/img/trip1/building/_IMG6077.JPG"
                imageCache.src = "/static/gallery/img/trip1/building/_IMG6142.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6094.JPG"
                imageCache.src = "/static/gallery/img/trip1/IMG_5962.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6109.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6110.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6114.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6116.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6131.JPG"
                imageCache.src = "ip1img/tr/_IMG6138.JPG"
                imageCache.src = "/static/gallery/img/trip1/video/MVI_6013.MP4"
                imageCache.src = "/static/gallery/img/trip1/video/yuuhan1it.mp4"
                imageCache.src = "/static/gallery/img/trip1/_IMG6148.JPG"
                imageCache.src = "/static/gallery/img/trip1/video/syokuzi.mp4"
                imageCache.src = "/static/gallery/img/trip1/_IMG6153.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6154.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6157.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6162.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6163.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6172.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6174.JPG"
                imageCache.src = "/static/gallery/img/trip1/_IMG6175.JPG"
                imageCache.src = "/static/gallery/img/trip1/video/yuuhan2go.mp4"
                imageCache.src = "/static/gallery/img/trip1/building/_IMG6186.JPG"
                imageCache.src = "/static/gallery/img/trip1/building/_IMG6189.JPG"
                imageCache.src = "/static/gallery/img/trip1/building/_IMG6192.JPG"
                imageCache.src = "/static/gallery/img/trip1/building/_IMG6196.JPG"
                imageCache.src = "/static/gallery/img/trip1/building/_IMG6199.JPG"
                imageCache.src = "/static/gallery/img/trip1/IMG_6023.JPG"

                imageCache.src = "/static/gallery/img/trip1/building/IMG_5965.JPG"
                imageCache.src = "/static/gallery/img/trip2/video2/chou1.mp4"
                imageCache.src = "/static/gallery/img/trip2/video2/chou2.mp4"
                imageCache.src = "/static/gallery/img/trip2/building/_IMG6209.JPG"
                imageCache.src = "/static/gallery/img/trip2/building/IMG_6038.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6210.JPG"
                imageCache.src = "/static/gallery/img/trip2/building/_IMG6214.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6238.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6243.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6252.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6261.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6264.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6278.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6281.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6286.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6292.JPG"
                imageCache.src = "/static/gallery/img/trip2/building/_IMG6324.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6327.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6351.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6388.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6394.JPG"
                imageCache.src = "/static/gallery/img/trip2/building/_IMG6481.JPG"
                imageCache.src = "/static/gallery/img/trip2/building/_IMG6484.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6432.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6434.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6442.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6446.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6462.JPG"
                imageCache.src = "/static/gallery/img/trip2/video2/IMG_6415.mp4"
                imageCache.src = "/static/gallery/img/trip2/_IMG6470.JPG"
                imageCache.src = "/static/gallery/img/trip2/video2/IMG_6416.mp4"
                imageCache.src = "/static/gallery/img/trip2/_IMG6477.JPG"
                imageCache.src = "/static/gallery/img/trip2/building/_IMG6517.JPG"
                imageCache.src = "/static/gallery/img/trip2/video2/IMG_6424.mp4"
                imageCache.src = "/static/gallery/img/trip2/building/_IMG6512.JPG"
                imageCache.src = "/static/gallery/img/trip2/building/_IMG6501.JPG"
                imageCache.src = "/static/gallery/img/trip2/IMG_6113.JPG"
                imageCache.src = "/static/gallery/img/trip2/IMG_6088.JPG"
                imageCache.src = "/static/gallery/img/trip2/video2/MVI_6068.MP4"
                imageCache.src = "/static/gallery/img/trip2/video2/MVI_6119.MP4"
                imageCache.src = "/static/gallery/img/trip2/building/IMG_6143.JPG"
                imageCache.src = "/static/gallery/img/trip2/video2/MVI_6138.MP4"
                imageCache.src = "/static/gallery/img/trip2/IMG_6044.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6528.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6529.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6538.JPG"
                imageCache.src = "/static/gallery/img/trip2/building/_IMG6540.JPG"
                imageCache.src = "/static/gallery/img/trip2/building/_IMG6647.JPG"
                imageCache.src = "/static/gallery/img/trip2/IMG_6164.JPG"
                imageCache.src = "/static/gallery/img/trip2/video2/MVI_6158.MP4"
                imageCache.src = "/static/gallery/img/trip2/video2/MVI_6182.MP4"
                imageCache.src = "/static/gallery/img/trip2/video2/MVI_6187.MP4"
                imageCache.src = "/static/gallery/img/trip2/_IMG6549.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6552.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6554.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6577.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6586.JPG"
                imageCache.src = "/static/gallery/img/trip2/video2/syokumae.MP4"
                imageCache.src = "/static/gallery/img/trip2/_IMG6574.JPG"
                imageCache.src = "/static/gallery/img/trip2/_IMG6580.JPG"
                imageCache.src = "/static/gallery/img/trip2/video2/syochu.MP4"
                imageCache.src = "/static/gallery/img/trip2/_IMG6620.JPG"
                imageCache.src = "/static/gallery/img/trip2/video2/yuugo.mp4"

                imageCache.src = "/static/gallery/img/trip3/_IMG6666.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6270.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6704.JPG"
                imageCache.src = "/static/gallery/img/trip3/video3/MVI_6230.MP4"
                imageCache.src = "/static/gallery/img/trip3/IMG_6239.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6243.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6246.JPG"
                imageCache.src = "/static/gallery/img/trip3/video3/MVI_6238.MP4"
                imageCache.src = "/static/gallery/img/trip3/_IMG6705.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6720.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6266.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6727.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6730.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6723.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6289.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6291.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6294.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6739.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6258.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6299.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6303.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6306.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6307.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6308.JPG"
                imageCache.src = "/static/gallery/img/trip3/video3/IMG_6438.mp4"
                imageCache.src = "/static/gallery/img/trip3/video3/IMG_6442.mp4"
                imageCache.src = "/static/gallery/img/trip3/_IMG6756.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6786.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6790.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6849.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6863.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6868.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6914.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6878.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6905.JPG"
                imageCache.src = "/static/gallery/img/trip3/video3/IMG_6445.mp4"
                imageCache.src = "/static/gallery/img/trip3/IMG_6325.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6332.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6748.JPG"
                imageCache.src = "/static/gallery/img/trip3/video3/MVI_6334.MP4"
                imageCache.src = "/static/gallery/img/trip3/video3/MVI_6330.MP4"
                imageCache.src = "/static/gallery/img/trip3/IMG_6314.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6317.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6320.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6342.JPG"
                imageCache.src = "/static/gallery/img/trip3/IMG_6347.JPG"
                imageCache.src = "/static/gallery/img/trip3/_IMG6978.JPG"
                imageCache.src = "/static/gallery/img/trip3/video3/MVI_6350.MP4"
            }
            onload=perloadImages;
        </script>
    </head>
    <body>
        <div id = "container">                                      <!-- 文字をいれるなら<p>とか追加する -->
            <header>
                <h1>修学旅行</h1>
            </header>
            <div id="photo">
                <img src="/static/gallery/img/trip1/_IMG6094.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/trip1/IMG_5962.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/trip1/IMG_6023.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/trip2/_IMG6528.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/trip2/_IMG6529.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/trip3/IMG_6347.JPG" width="750" height="500" alt="">      <!-- ここに画像を追加していく(一番上の大きめ画像) -->
            </div>
            <p><em>※動画の音量注意！</em></p>
            <h2>１日目</h2>
            <div class = "photoList">
                <img src = "/static/gallery/img/trip1/_IMG5867.JPG" width="460" height="300" alt="">    <!-- 普通の画像をいい感じに配置していく -->
                <img src = "/static/gallery/img/trip1/_IMG5882.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG5897.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG5900.JPG" width="460" height="300" alt="">
                <div id = "main"><img src = "/static/gallery/img/trip1/building/_IMG5893.JPG" width="600" height="400" alt=""></div>
                <img src = "/static/gallery/img/trip1/_IMG5935.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG5942.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG5943.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG5944.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG5977.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG5979.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/building/_IMG5999.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/building/_IMG6012.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6029.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6062.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/building/_IMG6040.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip1/video/MVI_5888.MP4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip1/_IMG6064.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6051.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip1/video/gennbaku.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip1/building/_IMG6056.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip1/video/MVI_5908.MP4" width="460" height="300" controls autoplay></video>
                <video src = "/static/gallery/img/trip1/video/MVI_5912.MP4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip1/_IMG6075.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip1/video/MVI_5923.MP4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip1/building/_IMG6077.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/building/_IMG6142.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6094.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/IMG_5962.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6109.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6110.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6114.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6116.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6131.JPG" width="460" height="300" alt="">
                <img src = "ip1img/tr/_IMG6138.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip1/video/MVI_6013.MP4" width="460" height="300" controls autoplay></video>
                <video src = "/static/gallery/img/trip1/video/yuuhan1it.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip1/_IMG6148.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip1/video/syokuzi.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip1/_IMG6153.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6154.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6157.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6162.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6163.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6172.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6174.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/_IMG6175.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip1/video/yuuhan2go.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip1/building/_IMG6186.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/building/_IMG6189.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/building/_IMG6192.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/building/_IMG6196.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip1/building/_IMG6199.JPG" width="460" height="300" alt="">
                <div id = "main"><img src = "/static/gallery/img/trip1/IMG_6023.JPG" width="600" height="400" alt=""></div>
            </div>
            <h2>２日目</h2>
            <div class = "photoList">
                <div id = "main"><img src = "/static/gallery/img/trip1/building/IMG_5965.JPG" width="600" height="400" alt=""></div>
                <video src = "/static/gallery/img/trip2/video2/chou1.mp4" width="460" height="300" controls autoplay></video>
                <video src = "/static/gallery/img/trip2/video2/chou2.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip2/building/_IMG6209.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/building/IMG_6038.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6210.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/building/_IMG6214.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6238.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6243.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6252.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6261.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6264.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6278.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6281.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6286.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6292.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/building/_IMG6324.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6327.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6351.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6388.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6394.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/building/_IMG6481.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/building/_IMG6484.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6432.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6434.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6442.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6446.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6462.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip2/video2/IMG_6415.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip2/_IMG6470.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip2/video2/IMG_6416.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip2/_IMG6477.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/building/_IMG6517.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip2/video2/IMG_6424.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip2/building/_IMG6512.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/building/_IMG6501.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/IMG_6113.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/IMG_6088.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip2/video2/MVI_6068.MP4" width="460" height="300" controls autoplay></video>
                <video src = "/static/gallery/img/trip2/video2/MVI_6119.MP4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip2/building/IMG_6143.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip2/video2/MVI_6138.MP4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip2/IMG_6044.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6528.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6529.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6538.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/building/_IMG6540.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/building/_IMG6647.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/IMG_6164.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip2/video2/MVI_6158.MP4" width="460" height="300" controls autoplay></video>
                <video src = "/static/gallery/img/trip2/video2/MVI_6182.MP4" width="460" height="300" controls autoplay></video>
                <video src = "/static/gallery/img/trip2/video2/MVI_6187.MP4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip2/_IMG6549.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6552.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6554.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip2/video2/syokumae.MP4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip2/_IMG6574.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6577.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6586.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip2/_IMG6580.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip2/video2/syochu.MP4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip2/_IMG6620.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip2/video2/yuugo.mp4" width="460" height="300" controls autoplay></video>
            </div>
            <h2>３日目</h2>
            <div class = "photoList">
                <img src = "/static/gallery/img/trip3/_IMG6666.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6704.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip3/video3/MVI_6230.MP4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip3/IMG_6239.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6243.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6246.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip3/video3/MVI_6238.MP4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip3/_IMG6705.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6720.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6266.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6727.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6270.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6730.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6723.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6289.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6291.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6294.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6739.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6258.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6299.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6303.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6306.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6307.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6308.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip3/video3/IMG_6438.mp4" width="460" height="300" controls autoplay></video>
                <video src = "/static/gallery/img/trip3/video3/IMG_6442.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip3/_IMG6756.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6786.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6790.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6849.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6863.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6868.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6914.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6878.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6905.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip3/video3/IMG_6445.mp4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip3/IMG_6325.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6332.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6748.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip3/video3/MVI_6334.MP4" width="460" height="300" controls autoplay></video>
                <video src = "/static/gallery/img/trip3/video3/MVI_6330.MP4" width="460" height="300" controls autoplay></video>
                <img src = "/static/gallery/img/trip3/IMG_6314.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6317.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6320.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6342.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/IMG_6347.JPG" width="460" height="300" alt="">
                <img src = "/static/gallery/img/trip3/_IMG6978.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/trip3/video3/MVI_6350.MP4" width="460" height="300" controls autoplay></video>
            </div>
            <div class="button018">
                <a href="https://tks-r2021:8080/"><span>戻る</span></a>       <!-- 戻るボタン -->
            </div>
            <footer><p><small>＠カンパニー株式会社</small></p></footer>
        </div>
    </body>
</html>
<!-- 写真表示用のページ -->
<!-- 他のカテゴリについても作る -->