<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="UTF-8">
        <title>東樟祭</title>
        <link href="style.css" rel = "stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script> 
        <script type="text/javascript">                             // jpueryを使った画像切り替えプログラム
            $(function(){
                var setImg = '#photo';
                var fadeSpeed = 1600;
                var switchDelay = 5000;

                $(setImg).children('img').css({opacity:'0'});
                $(setImg + ' img:first').stop().animate({opacity:'1',zIndex:'20'},fadeSpeed);

                setInterval(function(){
                    $(setImg + ' :first-child').animate({opacity:'0'},fadeSpeed).next('img').animate({opacity:'1'},fadeSpeed).end().appendTo(setImg);
                },switchDelay);
            });
        </script>
    </head>
    <body>
        <div id = "container">                                      <!-- 文字をいれるなら<p>とか追加する -->
            <header>
                <h1>東樟祭</h1>
            </header>
            <div id="photo">
                <img src="img/ss.png" width="500" height="300" alt="">
                <img src="img/sc.png" width="500" height="300" alt="">  <!-- ここに画像を追加していく(一番上の大きめ画像) -->
            </div>
            <h2>２年生</h2>
            <div class = "photoList">
                <img src = "">                                          <!-- 普通の画像をいい感じに配置していく -->
            </div>
            <h2>３年生</h2>
            <div class = "photoList">
                <img src = "">
            </div>
            </div>
    </body>
</html>
<!-- 写真表示用のページ -->
<!-- 他のカテゴリについても作る -->