<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="UTF-8">
        <title>遠足</title>
        <link href="/static/gallery/style.css" rel = "stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script> 
        <script type="text/javascript">                             // jpueryを使った画像切り替えプログラム
            $(function(){
                var setImg = '#photo';
                var fadeSpeed = 1600;
                var switchDelay = 5000;

                $(setImg).children('img').css({opacity:'0'});
                $(setImg + ' img:first').stop().animate({opacity:'1',zIndex:'20'},fadeSpeed);

                setInterval(function(){
                    $(setImg + ' :first-child').animate({opacity:'0'},fadeSpeed).next('img').animate({opacity:'1'},fadeSpeed).end().appendTo(setImg);
                },switchDelay);
            });
            function perloadImages(){
		        imageCache = new Image();
		        imageCache.src = "/static/gallery/img/excursion1/MVI_4631_1.mp4"
                imageCache.src = "/static/gallery/img/excursion1/MVI_4637_1.mp4"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5589.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMG_4626.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMG_0002.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5698.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5599.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5606.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5609.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5612.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5615.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5618.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5621.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5640.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5660.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMG_4633.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMG_4638.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMG_4704.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMG_4654.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMG_4659.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMG_4672.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5675.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5677.JPG"
                imageCache.src = "/static/gallery/img/excursion1/IMGP5697.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2059.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2060.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2066.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2069.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2089.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2091.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2112.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2099.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2106.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2120.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2123.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2124.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2130.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2132.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2134.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2143.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2172.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2178.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2188.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2202.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2209.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2215.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2234.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2241.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2253.JPG"
                imageCache.src = "/static/gallery/img/excursion2/IMG_5125.JPG"
                imageCache.src = "/static/gallery/img/excursion2/IMG_5130.JPG"
                imageCache.src = "/static/gallery/img/excursion2/IMG_5155.JPG"
                imageCache.src = "/static/gallery/img/excursion2/IMG_5171.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2260.JPG"
                imageCache.src = "/static/gallery/img/excursion2/_IMG2271.JPG"
                imageCache.src = "/static/gallery/img/excursion2/IMG_5205.JPG"
                imageCache.src = "/static/gallery/img/excursion3/1708136457250.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136459603.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136460336.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136461089.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136461931.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136466039.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136468230.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136471359.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136472358.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136473246.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136474041.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136475633.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136476391.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136477126.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136479025.jpg"
                imageCache.src = "/static/gallery/img/excursion3/1708136479880.jpg"
            }
            onload=perloadImages;
        </script>
    </head>
    <body>
        <div id = "container">                                      <!-- 文字をいれるなら<p>とか追加する -->
            <header>
                <h1>遠足</h1>
            </header>
            <div id="photo">
                <img src="/static/gallery/img/excursion1/IMGP5606.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5609.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5612.JPG" width="750" height="500" alt="">  <!-- ここに画像を追加していく(一番上の大きめ画像) -->
                <img src="/static/gallery/img/excursion1/IMGP5615.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5618.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5621.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/excursion2/_IMG2089.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/excursion2/_IMG2091.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/excursion2/_IMG2112.JPG" width="750" height="500" alt="">
                <img src="/static/gallery/img/excursion3/1708136474041.jpg" width="750" height="500" alt="">
                <img src="/static/gallery/img/excursion3/1708136475633.jpg" width="750" height="500" alt="">
            </div>
            <p><em>※動画の音量注意！</em></p>
            <h2>美浜少年自然の家</h2>
            <div class = "photoList">
                <img src="/static/gallery/img/excursion1/IMGP5589.JPG" width="460" height="300" alt="">        <!-- 普通の画像をいい感じに配置していく -->
                <video src = "/static/gallery/img/excursion1/MVI_4631_1.mp4" width="460" height="300" controls autoplay></video>
                <img src="/static/gallery/img/excursion1/IMG_4626.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMG_0002.JPG" width="460" height="300" alt="">
                <div id = "main"><img src="/static/gallery/img/excursion1/IMGP5698.JPG" width="600" height="400" alt=""></div>
                <img src="/static/gallery/img/excursion1/IMGP5599.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5606.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5609.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5612.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5615.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5618.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5621.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5640.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5660.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMG_4633.JPG" width="460" height="300" alt="">
                <video src = "/static/gallery/img/excursion1/MVI_4637_1.mp4" width="460" height="300" controls autoplay></video>
                <img src="/static/gallery/img/excursion1/IMG_4638.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMG_4704.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMG_4654.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMG_4659.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMG_4672.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMG_4692.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5671.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5672.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5675.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5677.JPG" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion1/IMGP5697.JPG" width="460" height="300" alt="">
            </div>
                <h2>ビーチランド</h2>
                <div class = "photoList">
                    <img src="/static/gallery/img/excursion2/_IMG2059.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2060.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2066.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2069.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2089.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2091.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2112.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2099.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2106.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2120.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2123.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2124.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2130.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2149.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2132.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2134.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2143.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2172.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2178.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2188.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2202.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2209.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2215.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2234.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2241.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/pen.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2253.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/IMG_5125.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/IMG_5130.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/IMG_5155.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/IMG_5171.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2260.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/_IMG2271.JPG" width="460" height="300" alt="">
                    <img src="/static/gallery/img/excursion2/IMG_5205.JPG" width="460" height="300" alt="">
            </div>
            <h2>長島スパーランド</h2>
            <div class = "photoList"></div>
                <img src="/static/gallery/img/excursion3/1708136457250.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136459603.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136460336.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136461089.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136461931.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136466039.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136468230.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136471359.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136472358.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136473246.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136474041.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136475633.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136476391.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136477126.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136479025.jpg" width="460" height="300" alt="">
                <img src="/static/gallery/img/excursion3/1708136479880.jpg" width="460" height="300" alt="">
            </div>
            <div class="button018">
                <a href="https://tks-r2021:8080/"><span>戻る</span></a>   <!-- 戻るボタン -->
            </div>
            <footer><p><small>＠カンパニー株式会社</small></p></footer>
        </div>
    </body>
</html>
<!-- 写真表示用のページ -->
<!-- 他のカテゴリについても作る -->