
{% block head %}
    {% load static %}
    <title>マイページ</title>
    <link rel="stylesheet" href="{% static 'account/mypage.css' %}">
{% endblock %}

{% block content %}
    <div id="mypage-conteiner">
        <h2>登録情報</h2>
        <div id="form-container">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-box">
                    <label for="username">ユーザー名</label>
                    <input type="text" name="username" id="username" class="input-text" value="{{ username }}">
                </div>
                <div class="form-box">
                    <label for="password">新規パスワード</label>
                    <input type="text" name="password" id="password" class="input-text" placeholder="password">
                </div>
                <div class="form-box">
                    <label for="email">メールアドレス</label>
                    <input type="text" name="email" id="email" class="input-text" value="{{ email }}">
                </div>

                <input type="submit" value="更新" id="submit">
            </form>
        </div>
    </div>
{% endblock %}